@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  \--raleway-font-family: "Raleway", sans-serif;
  \--roboto-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--roboto-font-family), var(--raleway-font-family), sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #757575;
}

ul {
  list-style-type: none;
}

.web {
  color: #2196f3;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background: #fff;
  color: black;
  width: 1600px;
  height: 80px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: black;
  text-decoration: none;
}
.header > a > span {
  color: #2196f3;
}

.links a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.header-address a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.main-section {
  width: 1600px;
  margin: 0;
}

.hero-section {
  background-color: #2f303a;
  width: 1600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 210px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 696px;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  height: 50px;
  width: 200px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.text-title span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.text-title {
  display: flex;
  justify-content: space-between;
  padding: 94px 215px;
  margin: 0 auto;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94;
  margin: 0;
}

.our-team-section > .subtitle {
  padding-top: 94px;
}

.li-items {
  display: flex;
  justify-content: space-between;
  padding: 50px 215px 94px;
  margin: 0;
}

.image-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-team-section {
  background-color: #f5f4fa;
  width: 1600;
}

.card {
  /* card bg */
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;

  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.footer-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 60px;
  background-color: #2f303a;
  width: 1600px;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 28px 1154px 60px 215px;
}

.footer-text > a {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
}

.footer-address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 28px;
  width: 231px;
  height: 72px;
  left: 215px;
  right: 2216px;
  margin: 0;
}

.footer-address > a {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.button2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: 120px;
  height: 38px;
  left: 614px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}
button:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}
button:focus {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.image-items {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: space-between;
  padding: 50px 215px 94px;
  margin: 0;
}

.image-items-text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.image-items span {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
a:hover {
  color: #2196f3;
}
a:focus {
  color: #2196f3;
}
